{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import '_macros.html' as macros %}

{% block page_content %}
    <div class="page-header">
        <h1>Hello,{% if current_user.is_authenticated %}{{ current_user.username|capitalize }}{% else %}
            Stranger{% endif %}!</h1>
        <div>
            {% if current_user.can(Permission.WRITE_ARTICLES) %}
                {{ wtf.quick_form(form) }}
            {% endif %}
        </div>
        <div class="post-tabs">
            <ul class="nav nav-tabs">
                <li {% if show_type == '0' %} class="active"{% endif %}><a
                        href="{{ url_for('main.show_all') }}">All</a>
                </li>
                {% if current_user.is_authenticated %}
                    <li{% if show_type == '1' %} class="active"{% endif %}><a
                            href="{{ url_for('main.show_followed') }}">Followers</a>
                    </li>
                    {% if current_user.can(Permission.WRITE_ARTICLES) %}
                        <li {% if show_type == '2' %} class="active"{% endif %}><a
                                href="{{ url_for('main.my_posts') }}">My posts</a></li>
                    {% endif %}
                {% endif %}

            </ul>
            {% include '_posts.html' %}
        </div>
        <div class="pagination">
            {{ macros.pagination_widget(pagination,'.index') }}
        </div>
    </div>
{% endblock %}